<div class="post">
  <div class="post-header">
    <div class="post-header-profile">
      <img class="avatar" [src]="userAvatarUrl" />
      <div class="post-user-details">
        <div class="post-username">{{ postInput?.author || "Anonymous" }}</div>
        <div class="post-date-created">{{ postInput?.date | date }}</div>
      </div>
    </div>
    <button class="following-btn">Following</button>
    <!-- <button class="follow-btn">Follow</button> -->
  </div>
  <div class="post-content" (click)="redirectToPost(postInput?.id)">
    <div class="post-body">
      <div>
        {{ postInput?.description }}
      </div>
      <img src="/assets/images/post.png" />
    </div>
  </div>
  <div class="post-stats">
    <div class="likes">
      <img src="/assets/images/heart.png" (click)="onLike()" />
      <div class="like-count">{{ postInput?.likes.length }}</div>
    </div>
    <div class="comms">
      <img src="/assets/images/comms.png" />
      <div class="comms-count">3</div>
    </div>
    <div class="shares">
      <img src="/assets/images/share.png" />
      <div class="share-count">2</div>
    </div>
  </div>
  <div class="post-footer"></div>
</div>
