<div class="post">
  <div class="post-header">
    <div
      class="post-header-profile"
      [routerLink]="['/users', postInput?.author]"
    >
      <img class="avatar" [src]="userAvatarUrl" />
      <div class="post-user-details">
        <div class="post-username">
          {{ isMyPost() ? "You" : postInput?.author }}
        </div>
        <div class="post-date-created">{{ getTimeAgo(postInput?.date) }}</div>
      </div>
    </div>
    <button class="following-btn" (click)="follow()">
      {{ isFollowingUser ? "Unfollow" : "Follow" }}
    </button>
  </div>
  <div class="post-content">
    <div class="post-body">
      <div class="description-container">
        <div *ngIf="!isEditing">
          {{ postInput?.description }}
        </div>
        <div *ngIf="isEditing">
          <textarea [(ngModel)]="editedDescription" rows="3"></textarea>
        </div>
        <div class="actions">
          <button
            class="edit-btn"
            *ngIf="isMyPost() && !isEditing"
            (click)="startEditing()"
          >
            <img src="/assets/images/edit.png" alt="Edit Post" />
          </button>
          <button
            class="edit-btn"
            *ngIf="isMyPost() && isEditing"
            (click)="saveEdit()"
          >
            Save
          </button>
          <button
            class="edit-btn"
            *ngIf="isMyPost() && isEditing"
            (click)="cancelEdit()"
          >
            Cancel
          </button>
          <button
            class="edit-btn"
            *ngIf="isMyPost() && !isEditing"
            (click)="deletePost($event)"
          >
            <img src="/assets/images/delete.png" alt="Delete Post" />
          </button>
        </div>
      </div>

      <div class="image-container">
        <!-- Photo section, clicking here should redirect -->
        <img
          src="/assets/images/post.png"
          (click)="redirectToPost(postInput?.id)"
        />
      </div>
    </div>
  </div>

  <div class="post-stats">
    <div class="likes">
      <img
        src="/assets/images/heart.png"
        *ngIf="!doILike()"
        (click)="onLike()"
      />
      <img
        src="/assets/images/filled.png"
        *ngIf="doILike()"
        (click)="onLike()"
      />
      <div class="like-count">{{ postInput?.likes?.length || 0 }}</div>
      <div class="comms">
        <!-- Comments section, clicking here should redirect -->
        <img
          src="/assets/images/comms.png"
          (click)="redirectToPost(postInput?.id)"
        />
        <div class="comms-count">{{ postInput?.commentCount || 0 }}</div>
      </div>
    </div>
    <div class="shares">
      <img src="/assets/images/share.png" />
    </div>
  </div>
</div>
