.post {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 16px;

  background-color: #fff; /* Example background color for visualization */
}


.post-stats {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Align items and distribute space */
  gap: 16px; /* Adjust the gap between items */
}

.likes,
.comms,
.shares {
  display: flex;
  align-items: center;
}
.comms{
  margin-left:10px;
}
.likes img,
.comms img,
.shares img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.like-count,
.comms-count,
.share-count {
  margin-left: 3px;
}


.post-header {
  display: flex;
  gap: 16px;
  justify-content: space-between;
}

.post-header-profile {
  display: flex;
  gap: 16px;
}

.post-header-profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%; /* Example border radius for avatar */
}

.following-btn,
.follow-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  font-size: 14px;
  font-weight: 500;
  gap: 10px;
  border-radius: 32px;
  cursor: pointer;
}

.following-btn {
  background: #163ac70f;
  border: 1px solid #163ac733;
  color: #163ac7;
}

.follow-btn {
  background: #163ac7;
  border: 1px solid #163ac7;
  color: #fefefe;
}

.post-user-details {
  display: flex;
  gap: 4px;
  flex-direction: column;
}

.post-user-details .post-username {
  font-size: 15px;
  font-weight: 600;
}

.post-user-details .post-date-created {
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  color: #858c91;
}

.post-body {
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: #1d242999;
}

.description-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.image-container {
  position: relative;
}

.image-container img {
  width: 100%;
  height: auto;
  cursor: pointer;
}

.actions {
  display: flex;
  gap: 8px; /* Adjust the gap between edit and delete buttons */
}

.edit-btn {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
}

.edit-btn img {
  width: 20px;
  height: 20px;
}
