<main>
  <div class="posts-container">
    <app-post [postInput]="post"></app-post>
    <div class="comments">
      <input placeholder="Add a comment" [(ngModel)]="content" />
      <button (click)="createComment()" (click)="refreshComments()">
        Submit
      </button>
      <ng-container *ngFor="let comment of comments">
        <app-comment
          [commentInput]="comment"
          (commentDeleted)="refreshComments()"
        ></app-comment>
      </ng-container>
    </div>
  </div>
</main>
