<header>
  <div class="logo" [routerLink]="'homepage'">Homepage</div>
  <input
    type="text"
    placeholder="Search users..."
    class="search-input"
    (input)="searchUsers($event)"
    (focus)="showDropdown = true"
    (blur)="hideDropdown()"
  />
  <div class="search-dropdown" *ngIf="showDropdown && searchResults.length">
    <app-userprofile
      *ngFor="let user of searchResults"
      [user]="user"
    ></app-userprofile>
  </div>
  <div class="profile">
    <div>Hello, {{ firstName }}</div>
    <button class="logout-button" [routerLink]="'/login'">Logout</button>
    <img
      class="avatar"
      [routerLink]="['/users', username]"
      [src]="userAvatarUrl"
    />
  </div>
</header>
