<div class="comment">
  <div class="header">
    <div class="user-profile">
      <img class="avatar" [src]="userAvatarUrl" alt="Profile Picture" />
      <span class="username">{{ commentInput.username }}</span>
    </div>
    <span class="date">{{ getTimeAgo(commentInput?.date) }}</span>
  </div>
  <div class="content">
    {{ commentInput.content }}
  </div>
  <div class="actions">
    <img
      *ngIf="isMyComment()"
      src="/assets/images/edit.png"
      class="edit-icon"
      alt="Edit"
      title="Edit"
    />
    <img
      *ngIf="isMyComment()"
      src="/assets/images/delete.png"
      class="delete-icon"
      alt="Delete"
      title="Delete"
      (click)="deleteComment()"
    />
  </div>
</div>
