.container{
    background-color: #eeeeee;
    width: 100%;
    height: 100vh;

    display:flex;
    justify-content: center;
}
.login-card{
    display: flex;
    align-self: center;
    align-items: center;
    flex-direction: column;
    padding: 16px;
    width: 500px;
    height: auto;
    background-color: white;
    border-radius: 10px;
}
.sign-in-btn{
    background-color:red;
    width:100%;
    height: 60px;
    padding: 16px 32px;
    border-radius: 8px;
    border: none;
    color: white;
    cursor:pointer;
}